<%= simple_form_for(@monster) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :hp %>
    <%= f.input :force %>
    <%= f.input :agility %>
    <%= f.input :inteligence %>
    <%= f.input :exp %>
    <div class="selectbox">
    <%= f.input :element, collection: ['Pas d\'élément','Feu', 'Eau', 'Terre'], label: "Choisir un élémement", required: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
