<div class="container">
  <h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hp</th>
      <th>Force</th>
      <th>Agility</th>
      <th>Exp</th>
      <th>Element</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr class="monster-<%= monster.id %>">
        <td><%= monster.name %></td>
        <td><%= monster.hp %></td>
        <td><%= monster.force %></td>
        <td><%= monster.agility %></td>
        <td><%= monster.exp %></td>
        <td><%= monster.element %></td>
        <td><%= link_to 'Show', monster,class:'btn' %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster),class:'btn' %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, remote:true, class:'btn btn--white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un monstre', new_monster_path, class:"btn" %>
</div>

