<div class="container">
  <p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @monster.hp %>
</p>

<p>
  <strong>Force:</strong>
  <%= @monster.force %>
</p>

<p>
  <strong>Agility:</strong>
  <%= @monster.agility %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @monster.exp %>
</p>

<p>
  <strong>Element:</strong>
  <%= @monster.element %>
</p>
<div id="renderObjets">
  <p>
  <strong>objets : </strong>
  <div class="js-render-objet">
  <%= render partial: 'objets/objets_list' , locals: {objets: @monster.objets, scope: ''}%>
  </div>
</p>
</div>
<% if !@objects.nil? %>
<div class="objects">
  <% @objects.each do |o|
 @title = 'Ajouter '+o.name%>
  <%= link_to @title, {controller: "monsters", action: "addObjetById", objet_id: o.id, monster_id: @monster.id}, class: "js-add-object btn", remote: true, class: 'btn' %>
<% end %>
</div>
<% end %>

<%= link_to 'Éditer', edit_monster_path(@monster) ,class:'btn' %> 
<%= link_to 'Retour', monsters_path ,class:'btn' %>
</div>

