<%= simple_form_for(@donjon) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:'Nom', class: 'form-control' %>
    <%= f.input :level, label:'Nombre de cases', class: 'form-control' %>
    <%= f.input :nbMonster, label:'Nombre de monstre', class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
