<%= simple_form_for(@donjon) do |f| %>
  	<%= f.error_notification %>

  	<div class="form-inputs">
	    <%= f.input :name, label:'Nom', class: 'form-control' %>
	</div>

  <% if context === 'edit' %>
	<div><%= link_to 'Ajouter une Chambre', new_room_path, remote: true%></div>
  <% end %>
  	<div class="form-actions">
    	<%= f.button :submit %>
  	</div>




<% end %>
