<% 
@count_objet = 0
@count_monster = 0
@donjon.rooms.each do |r| 
  @count_objet = @count_objet + r.objets.count
  @count_monster = @count_monster + r.monsters.count
end %>
<div id="bag">
  <div class="open-button js-open-button">
    <div class="button-burger">
        <button class="js-hamburger hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
  </div>
  <div class="js-objects inventaire">
    <h2>Inventaire</h2>
    <div class="js-money"><span>Or:</span><span class="renderGold"> <%= current_user.avatar.money %></span></div>
      <div class="js-content-objects">
        <%= render partial: 'objets/objets_list' , locals: {objets: @avatar.objets, scope: current_user.avatar}%>
      </div>
  </div><!--
  --><div class="js-craft-buttons craft-buttons">
    <h2>Craft</h2>
    <div class="js-content-craft">
      <%= render partial: 'avatars/craft' , locals: {avatar: @avatar}%>
    </div>
  </div>
</div>


<div class="js-rooms-container rooms-container">
  <article class="js-article">
    <div class="room js-room intro-room">
      <h2><%= @donjon.name%></h2>
      <p>Nombre d'étage : <%= @donjon.rooms.count %></p>
      <p>Nombre d'objet : <%= @count_objet %></p>
      <p>Nombre de monstre : <%= @count_monster %></p>
      <div class="btn nxt btn--white">Entrer</div>
      <%= link_to 'Sortir', donjons_path, class: "btn exit btn--white" %>
    </div>
      </article>
  <%= render partial: 'rooms/rooms_list' , locals: {rooms: @donjon.rooms}%>
</div>

<div class="avatar-controller js-avatar-controller">
  <span class="name"><%= current_user.avatar.name %></span>
  <span class="level">Lvl : <%= current_user.avatar.level %></span>
  <div class="currsors">
    <div class="js-avatar-hp avatar-hp" data-hpMax="<%= current_user.avatar.MaxHealth %>">
      <div class="js-avatar-current-hp avatar-current-hp" data-hp="<%= current_user.avatar.hp %>"></div>
      <span class="js-hpcount hpcount">PV : <%= current_user.avatar.hp %>/<%= current_user.avatar.MaxHealth %></span>
    </div>
    <div class="js-avatar-exp avatar-exp" data-next-level="<%= current_user.avatar.nextLevel %>">
      <div class="js-avatar-current-exp avatar-current-exp" data-exp="<%= current_user.avatar.exp %>"></div>
      <span class="js-expcount expcount">Exp : <%= current_user.avatar.exp %>/<%= current_user.avatar.nextLevel %></span>
    </div>
  </div>
  
  
  <div class="carac">
    <span class="js-agility">Agilité : <%= current_user.avatar.agility %></span>
    <span class="js-force">Force : <%= current_user.avatar.force %></span>
    <span class="js-intéligence">Intéligence : <%= current_user.avatar.inteligence %></span>
    <span class="js-defence">Défence : <%= current_user.avatar.defence %></span>
  </div>
  <div class="family">
    <span class="js-job">Classe : <%= current_user.avatar.job.name %></span>
    <span class="js-type">Type : <%= current_user.avatar.element %></span>
  </div>
  

  <div class="render-avatar">
    <%= render partial: 'avatars/avatar' , locals: {avatar: @avatar}%>
  </div>
</div>



<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%# @avatar.name %></td>
        <td><%# defined?@avatar.objets.first.name %></td>

        <%# @objets.each do |o| %>
          <% #@title = 'Ajouter '+o.name%>
          <td><%# link_to @title, {controller: "avatars", action: "addObjetById", avatar_id: @avatar.id, objet_id: o.id, donjon_id: @donjon.id }, class: "js-add-object btn", remote: true %></td>
          
        <%# end %>
        
      </tr>
  </tbody>
</table> -->












<!-- <h2>avatar</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @avatar.name %></td>
        <td><%# defined?@avatar.objets.first.name %></td>

        <% @objets.each do |o| %>
          <% @title = 'Ajouter '+o.name%>
          <td><%= link_to @title, {controller: "avatars", action: "addObjetById", avatar_id: @avatar.id, objet_id: o.id }, {method: 'get'} %></td>
          
        <% end %>
        
      </tr>
  </tbody>
</table>

<% @monsters.each do |m| %>
      <tr>
        <td><%= m.name %></td>

        <% @objets.each do |o| %>
          <% @title = 'Ajouter '+o.name%>
          <td><%= link_to @title, {controller: "monsters", action: "addObjetById", monster_id: @avatar.id, objet_id: o.id }, {method: 'get'} %></td>
          
        <% end %>
        
      </tr>
    <% end %>



<br>
 -->


