<div class="loading in">
  <div class="screen glitch js-glitch">
<!--     <div class="glitchContent is-off"><span class="text js-text"></span></div>
 -->    <div class="figure"></div>
    <div class="figure-mask"></div>
  </div>  
</div>
<% 
@count_objet = 0
@count_monster = 0
@donjon.rooms.each do |r| 
  @count_objet = @count_objet + r.objets.count
  @count_monster = @count_monster + r.monsters.count
end %>
<div id="bag">
  <div class="open-button js-open-button">
    <div class="button-burger">
        <button class="js-hamburger hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
  </div>
  <div class="js-objects inventaire">
    <h2>Inventaire</h2>
    <div class="js-money"><span>Or:</span><span class="renderGold"> <%= current_user.avatar.money %></span></div>
      <div class="js-content-objects">
        <%= render partial: 'objets/objets_list' , locals: {objets: @avatar.objets, scope: current_user.avatar}%>
      </div>
  </div><!--
  --><div class="js-craft-buttons craft-buttons">
    <h2>Craft</h2>
    <div class="js-content-craft">
      <%= render partial: 'avatars/craft' , locals: {avatar: @avatar}%>
    </div>
  </div>
</div>

<div class="js-rooms-container rooms-container">
  <article class="js-article">
    <div class="room js-room intro-room js-room-0">
      <h2><%= @donjon.name%></h2>
      <p>Nombre d'étages : <%= @donjon.rooms.count %></p>
      <p>Nombre d'objets : <%= @count_objet %></p>
      <p>Nombre de monstres : <%= @count_monster %></p>
      <div class="btn nxt btn--white">Entrer</div>
      <%= link_to 'Sortir', donjons_path, class: "btn exit btn--white" %>
    </div>
  </article>
  <%= render partial: 'rooms/rooms_list' , locals: {rooms: @donjon.rooms}%>
  <article class="js-article">
    <div class="room js-room intro-room js-room-<%= @donjon.rooms.count + 1 %>">
      <p>Il y a une lumière au bout ...</p>
      <%= link_to 'Sortir', {controller: "avatars", action: "finishDonjon", donjon_id: @donjon.id }, class: " btn btn--white" %>
    </div>
  </article>
</div>

<div class="js-render-avatar-controller">
    <%= render partial: 'avatars/avatar-controller' %>
  </div>
  

  <div class="render-avatar">
    <%= render partial: 'avatars/avatar' , locals: {avatar: @avatar}%>
  </div>