<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:'Nom', class: 'form-control' %>
    <%= f.input :agility, label:'agility', class: 'form-control' %>
    <%= f.input :strong, label:'Strong', class: 'form-control' %>
    <%= f.input :intelligence, label:'intelligence', class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
