<div class="container">
 <h1>Classes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Agilité</th>
      <th>Force</th>
      <th>Intelligence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.agility %></td>
        <td><%= job.strong %></td>
        <td><%= job.intelligence %></td>
        <td><%= link_to 'Voir', job, class: 'btn' %></td>
        <td><%= link_to 'Modifier', edit_job_path(job), class: 'btn' %></td>
        <td><%= link_to 'Supprimer', job, method: :delete, class: 'btn btn--white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle classe', new_job_path, class: 'btn' %> 
</div>

