<div class="container">
<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>agility:</strong>
  <%= @job.agility %>
</p>

<p>
  <strong>strong:</strong>
  <%= @job.strong %>
</p>
<p>
  <strong>intelligence:</strong>
  <%= @job.intelligence %>
</p>

<%= link_to 'Modifier', edit_job_path(@job), class: 'btn' %>
<%= link_to 'Retour', jobs_path , class: 'btn'%>
	
</div>
