<%= simple_form_for(@objet) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, label:'Nom', class: 'form-control' %>
    
    <div class="half left">
      <%= f.input :rarity, label:'Rareté', class: 'form-control' %>
      <%= f.input :force, label:'Force', class: 'form-control' %>
      <%= f.input :defence, label:'Défence', class: 'form-control' %>
    </div><!--
    --><div class="half right">
      <%= f.input :health, label:'Santé', class: 'form-control' %>
      <%= f.input :agility, label:'Agilité', class: 'form-control' %>
    <%= f.input :magic, label:'Magie', class: 'form-control' %>
    </div>
    <div class="half left">
    <%= f.input :price, label:'Prix', class: 'form-control' %>
    </div>
  <div class="selectbox">
    <%= f.input :category, collection: ['Matériaux', 'Arme', 'Armure', 'Défence', 'Pierre Magique', 'Santé'], prompt: "Type d'objet" %>
  </div>
  <%= f.input :description, label:'Description', class: 'form-control', as: :text%>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
