<p id="notice"><%= notice %></p>

<h1>objet</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>rarity</th>
      <th>family</th>
      <th>agility</th>
      <th>force</th>
      <th>magic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objets.each do |objet| %>
      <tr>
        <td><%= objet.name %></td>
        <td><%= objet.rarity %></td>
        <td><%= objet.family %></td>
        <td><%= objet.agility %></td>
        <td><%= objet.force %></td>
        <td><%= objet.magic %></td>
        <td><%= link_to 'Show', objet %></td>
        <td><%= link_to 'Edit', edit_objet_path(objet) %></td>
        <td><%= link_to 'Destroy', objet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New objet', new_objet_path %>
