<div class="container">
  <p>
    <strong>Nom:</strong>
    <%= @objet.name %>
</p>

<div class="half left">
    <p>
    <strong>Rareté:</strong>
    <%= @objet.rarity %>
</p>

<p>
    <strong>Agilité:</strong>
    <%= @objet.agility %>
</p>

<p>
    <strong>Force:</strong>
    <%= @objet.force %>
</p>
</div><!--
--><div class="half right">
    <p>
    <strong>Magie:</strong>
    <%= @objet.magic %>
</p>

<p>
    <strong>Défence:</strong>
    <%= @objet.defence %>
</p>
<p>
    <strong>Prix:</strong>
    <%= @objet.price %>
</p>
</div>



<p>
    <strong>Type:</strong>
    <%= @objet.category %>
</p>
<p>
    <strong>Description:</strong>
    <%= @objet.description %>
</p>
</div>



<%= link_to 'Éditer', edit_objet_path(@objet), class: 'btn btn-white' %>
<%= link_to 'Retour', objets_path , class: 'btn btn-white'%>
