<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @objet.name %>
</p>


<p>
  <strong>rarity:</strong>
  <%= @objet.rarity %>
</p>

<p>
  <strong>agility:</strong>
  <%= @objet.agility %>
</p>

<p>
  <strong>force:</strong>
  <%= @objet.force %>
</p>
<p>
  <strong>magic:</strong>
  <%= @objet.magic %>
</p>

<%= link_to 'Edit', edit_objet_path(@objet) %> |
<%= link_to 'Back', objets_path %>
