<div class="container">
  <h1>Liste des quetes</h1>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>level</th>
      <th>reward</th>
      <th>objet à trouver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quetes.each do |quete| %>
      <tr class="quete-<%= quete.id %>">
        <td><%= quete.title %></td>
        <td><%= quete.unlockLevel %></td>
        <% if quete.rewardType === "Objet" %>
          <td><%= Objet.find(quete.reward).name %></td>
        <%else%>
          <td><%= quete.reward %> Or</td>
        <% end %>
        <td><%= Objet.find(quete.objetToFind).name %></td>
        <td><%= link_to 'Voir', quete,class:'btn' %></td>
        <td><%= link_to 'Modifier', edit_quete_path(quete),class:'btn' %></td>
        <td><%= link_to 'Supprimer', quete, method: :delete, remote:true, class:'btn btn--white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer une quete', new_quete_path, class:"btn" %>
</div>
</div>
