<div class="container">
	<p>
  <strong>titre:</strong>
  <%= @quete.title %>
</p>

<p>
  <strong>Déscription:</strong>
  <%= @quete.description %>
</p>

<p>
  <strong>Récompence:</strong>
  <% if @quete.rewardType === "Objet" %>
         <%= Objet.find(@quete.reward).name %>
        <%else%>
         <%= @quete.reward %> Or
        <% end %>
</p>

<p>
  <strong>Objet à trouver:</strong>
  <%= Objet.find(@quete.objetToFind).name %>
</p>

<%= link_to 'Modifier', edit_quete_path(@quete), class: 'btn' %>
<%= link_to 'Retour', quetes_path, class: 'btn' %>
</div>

