<%= simple_form_for(@avatar) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:'Nom', class: 'form-control', placeholder: current_user.username, required: true %>
    <div class="selectbox">
    <%= f.input :element, collection: ['Feu', 'Eau', 'Terre'], label: "Choisir un élémement", required: true %>
    </div>

    <div class="selectbox">
      <%= f.association :job, label:'Choisir une Classe', class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Créer mon Avatar', class: 'btn'%>
  </div>
<% end %>
