<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @avatar.name %>
</p>

<p>
  <strong>Element:</strong>
  <%= @avatar.element %>
</p>
<p>
  <strong>Classe:</strong>
  <%= @avatar.job.name %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @avatar.hp %>
</p>
<div id="renderObjets">
  <p>
  <strong>objets : </strong>
  <%= render partial: 'objets/objets_list' , locals: {objets: @avatar.objets}%>
</p>
</div>


<% if @avatar.objets.where(name: "Baton") && (@avatar.objets.where(name: "Fer").count)>= 2  %>

<%# button_to 'Créer une Épée de Fer', {controller: "objets", action: "craftEpeeFer", avatar_id: @avatar.id }, method: 'get', remote: true %>

<%= link_to 'Créer une Épée de Fer', {controller: "objets", action: "craftEpeeFer", avatar_id: @avatar.id }, {method: 'get'} %>

<%# link_to 'Créer une Épée de Fer', {controller: "objets", action: "craftEpeeFer", avatar_id: @avatar.id }, {:method => :get, remote: true} %>

<%# form_tag( { :controller => :objets, :action => :craftEpeeFer, avatar_id: @avatar.id }, { :method => :post } ) do %>
    <%# submit_tag 'Créer une Épée de Fer' %>
<%# end %>

<% end %>


<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
