<!DOCTYPE html>
<html>
  <head>
    <title>LittleGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> 
  </head>

  <body class="<%= controller.controller_name %>">
    <div class="messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% if user_signed_in?%>
  		<% if current_user.role === "admin" %>
      <!-- Navigation -->
      <div class="b-nav">
        <li><%= link_to "Monstres", monsters_path, class:"b-link" %></li>
        <li><%= link_to "Donjons", donjons_path, class:"b-link" %></li>
        <li><%= link_to "Objets", objets_path, class:"b-link" %></li>
        <li><%= link_to "Jobs", jobs_path, class:"b-link" %></li>
        <li><%= link_to "Quetes", quetes_path, class:"b-link" %></li>
      </div>

      <!-- Burger-Icon -->
      <div class="b-container">
        <div class="b-menu">
          <div class="b-bun b-bun--top"></div>
          <div class="b-bun b-bun--mid"></div>
          <div class="b-bun b-bun--bottom"></div>
        </div>

      </div>

          <% end %>
      <% end %>
      <%= yield %>

    
    <% if user_signed_in?%>
    <div class="user-info">
      <p>Connecté en tant que : <%= current_user.username%></p>
      <p>
        <%= link_to 'Déconnection' , destroy_user_session_path, :method => :delete %>
      </p>
      <div class="close-user"><div class="link"><span class="link__icon__bar"></span></div></div>
    </div>
    
    
    <% end %>
  </body>
</html>
